beautifulsoup4==4.6.3
google==2.0.2
# Uncomment if the google package maintainer doesn't update PyPI.
# -e git://github.com/MarioVilas/googlesearch.git#egg=googlesearch
numpy==1.16.3
requests==2.21.0
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
